<div class="container text-center">
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4 justify-content-start">
        {{#each products}}
            <div class="col">
                <div class="card h-100" style="width: 18rem;">
                    
                    {{#if this.thumbnails}} 
                        <img src="{{this.thumbnails.[0]}}" class="card-img-top h-25" alt="...">
                    {{else}}
                        <img src="img/image-not-avalible.jpg" class="card-img-top h-25" alt="">
                    {{/if}}

                    <div class="card-body">
                        <h5 class="card-title"><span class="badge bg-secondary"> {{this.id}}</span> {{this.title}} </h5>
                        <p class="card-text">{{this.description}}</p>
                    </div>
                    
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">category: {{this.category}}</li>
                        <li class="list-group-item">code: {{this.code}}</li>
                        <li class="list-group-item">price: {{this.price}}</li>
                        <li class="list-group-item">status:{{this.status}}</li>
                        <li class="list-group-item">stock: {{this.stock}}</li>
                    </ul>

                    <div class="card-footer">
                        <small class="text-muted">product displays</small>
                    </div>

                </div>
            </div>
        {{/each}}
    </div>
</div>